      body {
        padding-top: 0px;
        padding-bottom: 40px;
        font-size: 12pt;
	font-family: 'Sabon Roman';
      }

      h1, h2, h3, h4, h5, h6, nav.li {
	font-family: 'Neuzeit Grotesk Bold';
	font-weight: normal;
      }

      /* p, ul, li { */
      /*   font-family: verdana; */
      /* } */

      .basmallah {
        margin: 3px;
      }

      .basmallah a {
	  color: #777;
	  border-radius: 3px;
	  text-decoration: none;
      }
      
      /* Custom container */
      .container-narrow {
        margin: 0 auto;
        max-width: 700px;
      }
      .container-narrow > hr {
        margin: 30px 0;
      }

      /* Main marketing message and sign up button */
      .jumbotron {
        margin: 0 0 0 0;
        text-align: center;
      }
      .jumbotron h1 {
        font-size: 72px;
        line-height: 1;
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 7px 15px;
      }

      /* Supporting marketing content */
      .marketing {
        /*margin: 60px 0;*/
      }
      .marketing p + h4 {
        margin-top: 28px;
      }
