      body {
        padding-top: 0px;
        padding-bottom: 40px;
        font-size: medium;
          font-family: 'monospace';
          background-color: #f9f7ff;
          line-height: 1.5;
     }

      li {
          line-height: 1.5;
      }

     h1, h2, h3, h4, h5, h6, input, button, .navbar, .navbar .brand,
     .navbar .nav>.active>a, .navbar .nav>.active>a:hover, .navbar .nav>.active>a:focus {
	/* font-family: 'Neuzeit Grotesk Bold'; */
	font-family: sans-serif;
	font-weight: 600;
	color: #241b47;
	background: none;
	box-shadow: none;
      }

     p, .content li {
	 /*text-align: justify;*/
	 hyphens: auto;
     }

      /* p, ul, li { */
      /*   font-family: verdana; */
      /* } */

      .basmallah {
        margin: 3px;
          font-family: sans-serif;
      }

      .basmallah a {
	  color: #241b47;
	  border-radius: 3px;
	  text-decoration: none;
      }

      .navbar-inner {
	  border: none;
	  background: none;
	  box-shadow: none;
      }
      
      /* Custom container */
      .container-narrow {
        margin: 0 auto;
        max-width: 1024px;
      }
      .container-narrow > hr {
        margin: 30px 0;
      }

      /* Main marketing message and sign up button */
      .jumbotron {
        margin: 0 0 0 0;
        text-align: center;
      }
      .jumbotron h1 {
        font-size: 72px;
        line-height: 1;
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 7px 15px;
      }

      /* Supporting marketing content */
      .marketing {
        /*margin: 60px 0;*/
      }
      .marketing p + h4 {
        margin-top: 28px;
      }

      a, .navbar .nav>li>a {
	  color: #7f5eff;
          font-weight: bold;
      }

      a:hover, .navbar .nav>li>a:hover {
	  color: #b29eff;
	  text-decoration: none;
          font-weight: bold;
      }

      .article-title {
          margin-bottom: 5px;
      }

      .timestamp {
          font-size: small;
          margin-bottom: 20px;
      }

      .page-header {
          border: 0px;
      }

      p {
          margin-bottom: 1rem;
      }